@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #f0e7db; */
  --background: #ededed;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-buttonRoot {
  background-color: #0d9488;
  color: white;
}

.bg-buttonRoot:hover {
  background-color: #0f766e;
}

@media (max-width: 1300px) {
  .text-xl {
    font-size: 1rem;
  }
  .text-base {
    font-size: 0.875rem;
  }
  .text-sm {
    font-size: 0.75rem;
  }
}

.ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
}

.ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.8em 0;
}

.ProseMirror h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 0.6em 0;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(10deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
  }
  50% {
    box-shadow: 0 0 15px rgba(0, 255, 0, 1);
  }
  100% {
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
  }
}

.animate-shake {
  animation: shake 1s ease-in-out infinite, glow 1s infinite alternate;
}
